* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    padding-top: 20px;
    background-image: url(images/background_image_mountains.png);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.backOverlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.58);
    z-index: -1;
}


/* ----------NAV BAR---------- */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: rgb(3, 3, 60);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.left {
    font-size: 13px;
    margin: 10px;
    ;
}

.left span {
    margin: 10px;
}

.left a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.left a:hover {
    color: rgb(190, 154, 224);
}

.left p {
    margin: 4px;
}

.left p i {
    color: white;
}

.right .socials i {
    margin: 5px;
    color: white;
    font-size: 23px;
    transition: transform 0.15s ease;
}

.right .socials i:hover {
    transform: scale(1.15);
}

/* -----------FIRST SECTION--------- */

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 150px 0;

}

.firstSection>div {
    width: 40%;
}

.profilePhoto {

    height: 358px;
    width: 352px;
    border-radius: 20%;
    object-fit: cover;
    border: 1px solid white;
}

.rightSection {
    font-size: 2.2rem;
    margin: 0 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.leftSection {
    display: flex;
    justify-content: center;
    margin: 0 0 0 50px;
}

.nameColor {
    color: rgb(210, 170, 247);

}

#element {
    color: rgb(210, 170, 247);

}

/* ---------SECOND SECTION----------- */

.secondSection {
    display: flex;
    justify-content: space-around;
    margin: 140px 90px;

}

.secondSection span {
    font-size: 2.2rem;
}

.secondSection>div {
    width: 40%;
    background-color: rgba(0, 0, 0, 0.23);
    border-radius: 20px;
    backdrop-filter: blur(4px);
    padding: 26px 42px;
}

.secondSection .secondSectionLeft p {
    font-size: 15px;
    margin: 30px 0 0 0;
}

.timeline {
    background-color: white;
    width: 2px;
    height: 15vw;
    position: absolute;
    margin: 30px;

}

.timeline .timelineDot {
    height: 3px;
    width: 3px;
}

.timeline .timelineDash {
    margin: 24px 0 70px 0;
    background-color: white;
    width: 60px;
    height: 2px;
    position: relative;
}

.schoolName {
    font-size: 13px;
    position: relative;
    top: -11px;
    left: 76px;
    width: 43vw;
}

.schoolName div {
    color: rgb(212, 212, 212);
}

/* ------SERVICES---------- */

.services {
    padding: 20px 0px;
    text-align: center;
}

.services .serviceTitle {
    font-size: 2.2rem;
    margin-bottom: 100px;
}

.serviceContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 60px;
    margin: 50px 15vw;
    transition: background 0.5s ease, transform 0.5s ease;
}

.serviceBox {
    background-color: rgba(127, 127, 127, 0.25);
    border-radius: 20px;
    backdrop-filter: blur(4px);
    padding: 25px;
    text-align: left;
    transition: background 0.3s ease, transform 0.3s ease;

}

.serviceContent i {
    font-size: 50px;

}

.serviceContent h2 {
    margin-top: 20px;
    font-size: 20px;
}

.serviceContent p {
    font-size: 12px;
    margin: 15px 0;
}

.serviceBox:hover {
    transform: translateY(-10px);
    background-color: rgb(132, 65, 195);
}

/* ------------Projects--------------- */

.projects {
    margin: 150px 50px;
    display: flex;
    justify-content: space-around;
}

.projectsLeft {
    width: 30%;
    margin-left: 20px;
}

.projectsLeft .projectTitle {
    font-size: 2.2rem;
    margin-bottom: 25px;
}

.projectsRight {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}

.projectsRight .works {
    margin: 0 10px;
}

.works {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.works img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    display: block;
    height: 20vw;
    width: 15vw;
    transition: transform 0.5s ease;

}

.layer {

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(152, 68, 188));
    overflow: hidden;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    opacity: 0;
    transition: height 0.5s ease, opacity 0.5s ease;
}

.layer h3 {
    margin: 0 20px;
}

.layer a {
    text-decoration: none;
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;

}

.layer p {
    margin: 20px;
    font-size: 12px;
}

.works:hover img {
    transform: scale(1.1);

}

.works:hover .layer {
    height: 100%;
    opacity: 1;
}

/* --------------VIDEO SAMPLE---------- */

.videoProd {
    margin: 150px 50px;
    display: flex;
    justify-content: space-around;
}

.videoRight {
    width: 30%;
    margin-left: 20px;
}

.videoRight .title {
    font-size: 2.2rem;
    margin-bottom: 25px;
    text-align: right;
}

.videoRight p {
    text-align: right;
}

.videoLeft {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}

.videoLeft .videos {
    margin: 0 10px;
}

.videos {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.videos img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    display: block;
    height: 20vw;
    width: 15vw;
    transition: transform 0.5s ease;

}

.videoLayer {

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(152, 68, 188));
    overflow: hidden;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    opacity: 0;
    transition: height 0.5s ease, opacity 0.5s ease;
}

.videoLayer h3 {
    margin: 0 20px;
}

.videoLayer a {
    text-decoration: none;
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;

}

.videoLayer p {
    margin: 20px;
    font-size: 12px;
}

.videos:hover img {
    transform: scale(1.1);

}

.videos:hover .videoLayer {
    height: 100%;
    opacity: 1;
}

/* ----------------FOOTER------------- */
footer {
    margin-top: 30px;
}

.copyrightText {
    position: relative;
    margin: 30px 0 0 0;
    text-align: center;
    font-size: small;
    color: rgb(129, 133, 137);
    padding: 15px 0;
}